body { background-color: powderblue; }
h1 {
    color: blue;
    text-align:center;
}
p { color: #ff0000; }
.tt_table {
    style:"float:center";
    border: 1px solid black;
    background-color:#ffffff;
    width: 80%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}
.tt_row { border: 1px solid black; }
#tt_table tr:nth-child(even){background-color: #f2f2f2;}

.ex_table {
    style:"float:center";
    border: 1px solid black;
    background-color:#ffffff;
    width: 80%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}
.ex_row { border: 1px solid black; }
#ex_table tr:nth-child(even){background-color: #f2f2f2;}

.tooltip-inner {
    white-space: pre-wrap;
    max-width:none;
}
.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}
.tooltip .left h3 p { margin:21px 0; }
.tooltip .bottom {
    max-width:500px;
    transform:translate(50%, -55%); /* seems to move the popup in X,Y space */
    padding:20px;                   /* padding within the box */
    color:#666666;
    background-color:#FFFFE0;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    display:none;
    border:1px solid #DCA;
}
.tooltip:hover .bottom { display:block; }
.tooltip .bottom h3 p { margin:21px 0; }
.tooltip .bottom img { width:40px; }
.tooltip .bottom i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}
.tooltip .bottom i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#FFFFE0;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
