form.postLink {
  display: inline;
}
body {
  background-color: powderblue;
}
h1 {
  color: blue;
  background-color:Tomato;
}
exps {
    color: red;
}
skills {
    color: green;
}
p {
  color: green;
}
